[build]
  publish = "packages/playground/dist"
  command = "cd packages/playground && npm install && npm run build"

[build.environment]
  NODE_VERSION = "18"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
